* {
    padding: 0px;
    margin: 0px;
}


.banner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
    background-image: url("./donate-today-main/images/donation13.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.banner-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner-description h1 {
    font-size: 50px;
    color: white;
    text-align: center;
}

.banner-description p {
    font-size: 20px;
    color: white;
    text-align: center;
    margin-bottom: 30px;
}

.banner-description button {
    font-size: 20px;
    color: white;
    background-image: linear-gradient(rgb(236, 196, 121), orange);
    padding: 8px;
    margin-top: 12px;
    border-radius: 5px;
    text-decoration: none;

}

.package-container {
    text-align: center;
    margin-top: 20px;

}

.package-container div {
    border: 2px solid black;
    border-radius: 5px;
    margin: 20px 20px 20px 20px;
    text-align: center;
    padding: 25px 2px 25px 2px;
}

.second-container h1 {
    font-size: 70px;
    color: black;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 30px;
}

.second-container p {
    font-size: 20px;
    color: rgb(90, 82, 82);
    text-align: center;
    margin-bottom: 50px;
}

.title-two {
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    padding-bottom: 50px;
}

.hyper {
    text-align: center;
}

.section-one {
    margin-top: 70px;
    padding: 70px;
    display: flex;
    justify-content: space-evenly;

}

.box1 {
    width: 350px;
    height: 250px;
    border: 1px solid gray;
    text-align: left;
    background-color: rgb(214, 245, 244);
    padding-left: 10px;
    border: none;
    margin-left: 100px;
}

.box2 {
    width: 350px;
    height: 250px;
    border: 1px solid gray;
    text-align: left;
    background-color: rgb(236, 176, 231);
    border: none;
    margin-left: 100px;
    padding-left: 10px;
}

.box3 {
    width: 350px;
    height: 250px;
    border: 1px solid gray;
    text-align: left;
    background-color: rgb(233, 233, 181);
    border: none;
    margin-left: 100px;
    padding-left: 10px;
}


.food-icon {
    width: 50px;
}

.food {
    padding-top: 5px;
    padding-bottom: 10px;
}



.btn {
    border: 1px solid rgb(244, 155, 123);
    background: none;
    padding: 10px 20px;
    font-size: 20px;
    font-family: "montserrat";
    cursor: pointer;
    margin: 10px;
}

.btn2 {
    color: rgb(250, 130, 25);
}

#link-button {
    background-color: rgb(243, 163, 36);
    text-align: center;
    padding: 20PX;
    text-decoration: none;
    color: white;

}

.other-amount {
    text-align: center;
}

.domino {
    display: flex;
}

.loser {
    width: 50%;
    padding-left: 10%;

}

.loser img {
    width: 90%;
    padding-right: 80%;
}

.quote {
    font-size: 50px;

}

.quote1 {
    font-size: 30px;
    margin-top: 5%;
}

.linkin {
    text-decoration: none;
    background-color: rgb(219, 155, 36);
    padding: 10px 10px;
    border-radius: 5px;

}

.form-box {
    padding: 10px;
    border-radius: 5px;
    background: #ececec;
    box-shadow: 8px 8px 15px #dec7c7, -8px -8px -15px rgb(220, 214, 214);
    display: flex;
}

.form-box button {
    color: azure;
    padding: 5px;
    font-size: 20px;
    border: none;
    border-radius: 6px;
    background: rgb(225, 178, 221);
    cursor: pointer;
    transition: 3s;
}

footer {
    background: rgb(13, 13, 13);
    height: fit-content;
}

.footer-1 {
    display: flex;
    align-items: center;
    color: #fff;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}

.orange-red {
    color: rgb(240, 55, 55);
}